@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
/* font-family: 'Mali', cursive; */
/* font-family: 'Caveat', cursive; */

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
}

.text-slant {
	font-family: "Caveat", cursive;
}
.text-white {
	color: var(--mainWhite);
}
.text-green {
	color: var(--mainGreen);
}

.boxed-btn {
	color: var(--mainGreen);
	border: 1.6px solid var(--mainGreen);
	border: 0.1rem solid var(--mainGreen);
	padding: 6.4px 9.6px;
	padding: 0.4rem 0.6rem;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.boxed-btn:hover {
	background: var(--mainGreen);
	color: var(--mainBlack);
}

/*------------------------------
            HEADER
--------------------------------*/

.nav-link:hover {
	color: var(--mainGreen);
}

.contact-icon {
	color: var(--mainGreen);
	border: 1.6px solid var(--mainGreen);
	border: 0.1rem solid var(--mainGreen);
	border-radius: 50%;
	padding: 8px;
	padding: 0.5rem;
}

/*------------------------------
            Homepage
--------------------------------*/
.homepage {
	background: var(--mainGrey);
	min-height: calc(100vh - 101px);
	position: relative;
}

.homepage-content-bottom {
	background: var(--mainGreen);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.homepage-img {
	background: url('./resources/img/bannerBcg.jpeg')center/cover fixed no-repeat;
	min-height: calc(100vh - 101px);
	position: relative;
}
.homepage-img-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/*------------------------------
            About
--------------------------------*/
.about-img-container {
	position: relative;
}

.img-icons {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	font-size: 24px;
	font-size: 1.5rem;
}

.img-icons a {
	display: inline-block;
	background: var(--mainDark);
	color: var(--mainWhite);
	padding: 8px;
	padding: 0.5rem;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.img-icons a:hover {
	background: var(--mainGreen);
}

.img-icons a:nth-child(2) {
	background: var(--mainGreen);
}

.title-underline {
	position: relative;
	width: 192px;
	width: 12rem;
	height: 4.8px;
	height: 0.3rem;
	margin: 0 auto;
	border-radius: 3rem;
}

.title-underline-center {
	position: absolute;
	width: 50%;
	height: 9.6px;
	height: 0.6rem;
	background: var(--mainGreen);
	top: 50%;
	left: 50%;
	border-radius: 1rem;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

blockquote {
	border-left: 8px solid var(--mainGreen);
	border-left: 0.5rem solid var(--mainGreen);
	margin-top: 16px;
	margin-top: 1rem;
}

blockquote p {
	font-size: 24px;
	font-size: 1.5rem;
}

/*------------------------------
            Featured
--------------------------------*/
.featured {
	background: var(--mainGrey);
}

.card {
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.about .card:hover {
	-webkit-transform: rotate(3deg);
	        transform: rotate(3deg);
	box-shadow: 0 10px 15px;
}
.featured .card:hover {
	-webkit-transform: rotate(3deg);
	        transform: rotate(3deg);
	box-shadow: 0 10px 15px;
}

/*------------------------------
            Contact
--------------------------------*/
.contact {
	background: var(--mainGreen);
	color: var(--mainWhite);
}

.contact-btn {
	background: transparent;
	color: var(--mainWhite);
	text-transform: capitalize;
	border: 1.6px solid var(--mainWhite);
	border: 0.1rem solid var(--mainWhite);
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.contact-btn:hover {
	color: var(--mainGreen);
	background: var(--mainWhite);
}

/*------------------------------
            Service
--------------------------------*/
.service,
.tour {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
		url("./resources/img/bannerBcg.jpeg")center/cover fixed no-repeat;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
		url("./resources/img/bannerBcg.jpeg")center/cover fixed no-repeat;
}

.img-container {
	position: relative;
}

a.service-details {
	text-transform: capitalize;
	padding: 8px;
	padding: 0.5rem;
	background: var(--mainGreen);
	color: var(--mainWhite);
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.service-icon {
	color: var(--mainGreen);
	border: 1.6px solid var(--mainGreen);
	border: 0.1rem solid var(--mainGreen);
	display: inline-table;
	padding: 8px;
	padding: 0.5rem;
	font-size: 24px;
	font-size: 1.5rem;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.service-icon:hover {
	background: var(--mainGreen);
	color: var(--mainWhite);
}

.service-link {
	text-transform: capitalize;
	color: var(--mainGreen);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.service-link:hover {
	background: var(--mainGreen);
	color: var(--mainWhite);
	padding: 4.8px;
	padding: 0.3rem;
}

/*------------------------------
            Gallery
--------------------------------*/
.gallery-btn {
    padding: 8px;
    padding: 0.5rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.gallery-btn:hover {
    background: var(--mainGreen);
    color: var(--mainWhite);
}

.gallery .img-container {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.gallery .img-container:hover {
    background: rgba(0,0,0,0.8);
}

.gallery .img-container img {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.gallery .img-container img:hover {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.gallery .gallery-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: var(--mainWhite);
    font-size: 32px;
    font-size: 2rem;
	margin-top: 16px;
	margin-top: 1rem;
	cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}
.gallery .img-container:hover .gallery-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    margin-top: -16px;
    margin-top: -1rem;
}

.gallery .service-details {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.gallery .img-container:hover .service-details {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

/*------------------------------
            Tour
--------------------------------*/
.tour-icon {
    font-size: 32px;
    font-size: 2rem;
    color: var(--mainGreen);
    background: var(--mainWhite);
    padding: 11.2px;
    padding: 0.7rem;
    border-radius: 30%;
    cursor: pointer;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.tour-icon:hover {
    color: var(--mainWhite);
    background: var(--mainGreen);
}

/*------------------------------
            Footer
--------------------------------*/
.footer{
	background: var(--mainDark);
}